body {
    font-family: Arial, Helvetica, sans-serif;
    color: #742305;
    margin: 0;
  }

  h1,
h2 {
  font-weight: 800;
  font-size: 3.6em;
  margin: 0 auto;
  width: 90%;
}

.position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 500px;
    display: flex;
    flex-direction: column;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251,243,227);
    border-radius: 100px;
    margin: 2rem;
  }

  section {
    background-color: rgb(251,243,227);
}

.card img {
    border-radius: 100px 100px 0 0;
}

  .card section {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 100px 100px;
  }

.card section h3  {
    color: #6c341a;
    font-weight: bold;
    font-size: 2em;
}

.card section p  {
    color: #6c341a;
    font-weight: 400;
    font-size: 2em;
}

.card section span {
    font-size: 0.8em;
    font-weight: 400;
}


  button {
    margin: 0 auto;
    width: 70%;
    padding: 0.5rem 0 0.5rem 0;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 30px;
    background-color:#ffdf7f;
    color: #6c341a;
    font-size: 1.2em;
    font-weight: 400;
    flex: 0.5;
    cursor: pointer;
  }

  #navbar ul {
    display: flex;
    background-color: rgb(251,243,227);
    border-radius: 100px;
    padding: 2.5rem;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  }

 

  #navbar ul li {
    list-style-type: none;
    margin: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    background-color:#ffdf7f;
    color: #6c341a;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
  }

  #navbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 0 3rem;
    background-color:#ffdf7f;
    color: #6c341a;
    border-radius: 30px;
    font-weight: bold;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
  }

  #navbar div img {
    width: 50%;
  }

  #article {
    display: flex;
    justify-content: space-between;
    background-color: rgb(251,243,227);
    color: #6c341a;
    border-radius: 20px;
    font-size: 1.2em;
  }

  #article section {
    margin: 1.5rem;
  }

  #article img {
    margin: 2rem;
    width: 60%;
    height: 60%;
  }

  @media screen and (max-width:576px) {
    #article {
        flex-direction: column;
    }
  }

  #cardContainer {
   display: flex; 
   flex-direction: row;
  }