<!-- <p>movies works!</p>
link per le immagini: https://image.tmdb.org/t/p/w500 senza slash che c'è già nel db-->
<div class="container">
  <mat-card *ngFor="let movie of movies; let i = index" class="card">
    <mat-card-subtitle><b>Data d'uscita:</b> {{movie.data.release_date}}</mat-card-subtitle>
    <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + movie.data.poster_path"
      alt="Poster di {{movie.data.title}}">
      <p>{{movie.data.overview}}</p>
    <mat-card-content>
      <button mat-icon-button [color]="movie.favId ? 'warn' : ''" (click)="movie.favId ? removeFavMovie(movie.favId, i) : addFavMovies(movie.data.id, i)">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
