@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #415fe1;
    margin: 0 auto;
    width: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

figure :hover {
    color: black;
}
p {
    margin: 0;
}
figure:link, :visited {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}
#text {
    width:100%;
    text-align: left;
}
h3  {
    margin: 0 auto;
    width: 80%;
}