<!-- <p>login works!</p> -->
<form #form="ngForm" (ngSubmit)="login(form)">
  <mat-card>
    <mat-card-header><mat-card-title>Login</mat-card-title></mat-card-header>
    <mat-card-content>
        <div><mat-form-field class="full-width">
        <input matInput placeholder="Email" type="email" #email="ngModel" ngModel name="email" required>
            <mat-error *ngIf="email.invalid">Non hai inserito l'email</mat-error>
          </mat-form-field></div>

        <div><mat-form-field class="full-width">
            <input matInput type="password" #password="ngModel" placeholder="Password" ngModel name="password" required>
            <mat-error *ngIf="password.invalid">Non hai inserito la password</mat-error>
          </mat-form-field></div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
    <span>Se sei un nuovo utente vai a <a [routerLink]="['/signup']">Signup</a></span>
  </mat-card>
</form>

