/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    text-align: center;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-image: url(../img/sfondo.png);
}

/* HEADER */
header {
    background: linear-gradient(rgba(0, 160, 198, 1), rgba(3, 109, 134, 1) 70%);
    margin: 1rem;
    padding: 1rem;
    color: white;
}

#container img {
    max-width: 450px;
}

header a:link,
a:visited {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
    color: red;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* MAIN */
main {
    background-color: white;
    text-align: left;
    margin: 1rem;
}

/* ELEMENTI NEL MAIN - ARTICLE */

main {
    padding: 0 1.5rem 0 1.5rem;
}

main p {
    font-weight: 600;
}

#childs h1+p {
    color: #a0a0a0;
}

#childs ion-icon {
    display: inline-block;
}

strong {
    color: #a02571;
}

li {
    font-weight: bold;
}

code {
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 0.2rem;
    font-size: 1.2em;
}

/* TABELLE */
caption {
    font-style: italic;
    font-weight: bold;
}

table {
    border-bottom: 2px solid #3f6bca;
    text-align: center;
}

th {
    background-color: #3f6bca;
    padding: 0.5em;
    color: white;
    font-weight: 400;
}

tbody td {
    padding: 0;
}

#finish a:link,
a:visited {
    text-decoration: none;
    color: #3f6bca;
}

#finish a:hover {
    text-decoration: underline;
    color: red;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


iframe {
    width: 100%;
    border-radius: 30px;
}

/* FORM */
#form {
    background-color: #f3f3f3;
    font-weight: bold;
    padding: 0.5em;
}

#form h2 {
    text-align: center;
}

fieldset {
    border: 0;
}

form input {
    border: 0;
    border-bottom: 1px dashed #333;
    margin-top: 1rem;
}

button {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 0;
    margin: 0;
    background-color: #3f6bca;
    color: whitesmoke;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    padding: 0.5em;
}

aside div {
    background-color: #f3f3f3;
    padding: 1rem;
    margin-bottom: 1rem;
}
#article p:last-child {
    font-size: 0.8em;
    text-align: right;
    margin-right: 1rem;
}
#article a {
    color: #3f6bca;
    font-weight: 600;
}

/* FOOTER */
footer {
    background: linear-gradient(rgba(0, 160, 198, 1), rgba(3, 109, 134, 1) 70%);
    color: white;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-weight: 300;
    font-style: normal;
    margin: 1rem;
}

footer h2 {
    font-size: 1.5em;
    font-weight: 300;
}
footer a {
    color: rgba(128, 0, 128, 0.76);
    font-weight: 600;
}