body {
    background-color: bisque;
    .style:hover {
        border: 2px solid red;
        cursor: pointer;
    }
}



input:hover {
    border: 2px solid green;
    cursor: pointer;
}

#save-button:hover, #delete-btn:hover, #reset:hover {
    border: 2px solid red;
}

.nav-link:hover {
    color: red;
} 

img {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.barra
{
    height: 20px;
    width: 400px;
    background: #009900;
    animation-name: animazione;
    animation-duration: 2s;
    float:left;
}

@keyframes animazione
{
    0% {background: #FF0000; width: 0px;}
    50% {background: #FF9900;}
    100% {background: #009900; width: 400px;}
}



.n10 {
    transform: rotate(-5deg) translate(30px, 50px);
    transition-duration: 1s;
    animation-delay: 0.5s;
    animation: numb1 3s backwards;
}

@keyframes numb1 {
    0% {
        
        transform: translateY(-600px) rotate(-360deg) scale(1.6);
        
    }
    100% {
        transform: translateY(0) rotate(-5deg);
        
    }
}

.card:hover {
    z-index: 4;
    transform: scale(1.3);
}