@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}



ol,
ul {
    list-style: none;
    font-size: 1.2em;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

header {
    background-color: #ffc017;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
}

.headCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}



nav ul {
    display: flex;
}

nav li {
    padding: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav li button {
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 1em;
    padding: 9px 1em;
    cursor: pointer;
}

/*Modifica Dom */

.btnG {
    background-color: #18b113;
    color: white;
    border-radius: 50px;
    padding: 9px 1em;
    border: 0;
    transition: all 300ms ease-in-out;
  }
  .outBtn {
      background-color: #191919;
      color: white;
      border-radius: 50px;
      padding: 9px 1em;
      border: 0;
      transition: all 300ms ease-in-out ;
  }
  .headCh {
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px #191919;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: all 300ms ease-in-out;
  }
  .outHead {
      width: 100%;
      background-color: #ffc017;
      border-bottom: solid 1px #191919;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      transition: all 300ms ease-in-out;
    }

    .opacity{
        opacity:0;
   transition: 0.2s;
}

.curios {
    display: flex;
    justify-content: flex-end;
    background-color: #ffc017;
    border-bottom: 1px solid black;
    font-family: 'Spectral', serif;
    padding: 2rem 0 2rem 0;
    height: 500px;
}

svg {
    height: 550px;
}

.stay {
    background-color: #ffc017;
    padding-top: 6rem;
    display: flex;
    width: 87.5%;
    align-items: center;
}


.stayCurios h2 {
    font-size: 6em;
    margin: 0;
}

.stayCurios h3 {
    font-size: 2.5em;
    margin: 0;
    line-height: 36px;
    color: rgba(41, 41, 41, 1);
    width: 75%;
}

.stayCurios button {
    background-color: black;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    padding: 1rem 3.5rem 1rem 3.5rem;
    font-size: 1.5em;
    position: relative;
    top: 50px;
}

.lastNews {
    display: flex;
    justify-content: space-between;
}

.trending {
    margin: 0 auto;
    width: 75%;
}

.trending div {
    display: flex;
    font-size: 1.5em;
}

.border {
    border-bottom: 1px solid #e7e7e7;
}


#sections {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.articles {
    width: 27.5%;
    padding: 0;
    margin: 1rem;
}

.articles :first-child {
    display: flex;
}

.articles>.a {
    position: relative;
    left: 130px;
}

.articles>.b {
    position: relative;
    left: 130px;
    color: #8b8888;
    display: flex;
}


.articles>div>h4 {
    color: #e7e7e7;
    font-size: 3em;
    margin: 0;
    padding: 0.5rem;
    position: relative;
    bottom: 10px;
}

.articles div img {
    border-radius: 100%;
    margin-right: 1rem;
}

.articles div p {
    font-size: 1em;
    margin: 0;
    font-weight: bolder;
}

.articles>div>.section {
    display: flex;
    align-items: center;
}

.articlesus {
    width: 60%;
    padding: 0;
    margin: 1rem;
}

.articlesus :first-child {
    display: flex;
}

.articlesus>.a {
    position: relative;
    left: 130px;
}

.articlesus>.b {
    position: relative;
    left: 130px;
    color: #8b8888;
    display: flex;
}


.articlesus>div>h4 {
    color: #e7e7e7;
    font-size: 3em;
    margin: 0;
    padding: 0.5rem;
    position: relative;
    bottom: 10px;
}

.articlesus div img {
    border-radius: 100%;
    margin-right: 1rem;
}

.articlesus div p {
    font-size: 0.8em;
    margin: 0;
    font-weight: bolder;
}

.articlesus>div>.section {
    display: flex;
    align-items: center;
}

.aside {
    margin: 0 auto;
    width: 75%;
    display: flex;
    padding-top: 3rem;
}

.sectionArt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.jpgPn {
    width: 200px;
}

.c {
    font-size: 1.8em;
    font-weight: bolder;
}

.d {
    color: #8b8888;
    font-size: 1.5em;
}

.e {
    display: flex;
    justify-content: space-between;
}

.e div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.e div a {
    background-color: #e7e7e7;
    color: #8b8888;
    border-radius: 50px;
    padding: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.5em;
}

.e div p {
    margin-right: 1rem;
}

.final {
    display: flex;
    flex-direction: column;
    position:sticky;
    top: 160px;
    align-self: flex-start;
    width: 40%;
    font-size: 0.8em;
}

.link h2 {
    font-size: 1.4em;
}

.linkA a {
    border: 1px solid #e7e7e7;
    color: #8b8888;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}


.linkA {
    display: flex;
    align-items: center;
}

.pP,.pI {
    position: relative;
    left: 5px;
}

.pP > .pP {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #8b8888;
}

.pP > .pI {
    cursor: pointer;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #8b8888;
}