/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#testoAlternato {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: purple;
    width: 800px;
    height: 400px;
    text-shadow: 1px 1px 1px rgba(146, 146, 146, 0.8);
    font-family: 'Indie Flower', cursive;
}

.parole {
    text-indent: 10px;
}


.parole i{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #6b969d;
	-webkit-animation: AlternateText 6s linear infinite 0s;
	-ms-animation: AlternateText 6s linear infinite 0s;
	animation: AlternateText 6s linear infinite 0s;
}
.parole i:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s; 
	color: #2681c2;
}
.parole i:nth-child(3) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #6b739d;	
}
@-webkit-keyframes AlternateText {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 0; }
}
@keyframes AlternateText {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 0; }
}