@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    height: 500px;
        background-position: cover; 
        background-image: url(https://quinlan.it/upload/images/2020/03/harry-potter-e-il-prigioniero-di-azkaban-2004-alfonso-cuaron-cov932-932x460.jpg);
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        margin: 0;
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    background: linear-gradient(90deg, #989898, #f50202);
    font-style: inherit;
    margin: 0;
    padding: 0;
    font-size: 4em;
}
#margin {
    margin: 20px;
    color: white;
    font-style: oblique;
    font-family:'Oswald', sans-serif;;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #989898, #f50202);
    font-style: inherit;
    font-size: 2em;
}
#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
img {
    width: 400px;
    height: 400px;
}
form {
    padding-left: 20px;
}
input {
    border-color: rgb(255, 0, 0);
    color: blue;
}
button {
    margin-top: 20px;
}
h3, h4 {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #989898, #f50202);
    font-style: inherit;
}
b {
    color: rgb(0, 255, 98);
    font-size: 1em;
}
#reg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
video {
    width: 250px;
}
