body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2 {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
    color: blue;
    background-color: darkgray;
}

h2 {
    text-align: center;
    color: red;
    background-color: aqua;
}

